RewriteCond %{HTTP_HOST} !^www.example.com$ [NC]
RewriteRule ^(.*)$ http://www.example.com/$1 [L,R=301]



<IfModule mod_expires.c>
    ExpiresActive on
 
    ExpiresByType assets/images/jpg "access plus 1 month"
    ExpiresByType assets/images/png "access plus 1 month"
     ExpiresByType assets/images/wepb "access plus 1 month"
      ExpiresByType assets/images/elements/svg "access plus 1 month"
</IfModule>




<IfModule mod_expires.c>
    ExpiresActive on
 
    ExpiresByType text/javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
   </IfModule>
   
   <IfModule mod_expires.c>
    ExpiresActive on
 
    ExpiresByType text/css "access plus 1 month"
 </IfModule>